:root {
  --primary-color: #cb4e47;
  --bg-color: rgba(255, 229, 180, 0.5);
  --secondary-color: rgb(249, 247, 254);
  --heading-font-family: "Raleway", sans-serif;
  --default-font-family: "Barlow", sans-serif;
}

body {
  background-color: var(--bg-color) !important;
  font-family: var(--default-font-family);
  padding: 0 50px;
}

h1,
h2 {
  font-family: var(--heading-font-family);
  letter-spacing: 1px;
}
h1 {
  font-size: 55px !important;
}
h2 {
  font-size: 30px !important;
}
h3 {
  font-size: 30px !important;
}
p {
  line-height: 2;
}

strong {
  color: var(--primary-color);
  font-weight: 500 !important;
}

img {
  max-width: 450px !important;
}

header {
  padding: 210px 0;
}
.branding-btn {
  background-color: var(--primary-color) !important;
  color: #fff !important;
  font-weight: 500;
  transition: all 250ms ease-in-out;
  font-size: 18px !important;
}
.branding-btn:hover {
  cursor: pointer;
  background-color: rgba(203, 78, 71, 0.85) !important;
}

.btn-branding-outline {
  background-color: var(--secondary-color) !important;
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
  font-weight: 500 !important;
}

.btn-branding-outline:hover {
  color: black !important;
  box-shadow: none !important;
}

.description {
  padding: 0 30px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 42px !important;
    text-align: center;
  }
  h2 {
    font-size: 22px !important;
    text-align: center;
  }
  .link-container {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 670px) {
  h1 {
    font-size: 30px !important;
  }
  h2 {
    font-size: 20px !important;
  }
}

@media (max-width: 415px) {
  body {
    padding: 0 10px;
  }
  h1 {
    width: 75%;
    margin: auto;
  }
}
